{% include "nav.html" %}

<style>
  table.scroll {
    width: 900px;
    border: 1px #a9c6c9 solid;
  }
  table.scroll thead {
    display: table;
    width: 100%;
    background-color: salmon;
  }
  table.scroll tbody {
    display: block;
    height: 1000px;
    overflow: auto;
    float: left;
    width: 100%;
  }
  table.scroll tbody tr {
    display: table;
    width: 100%;
  }
  table.scroll th,
  td {
    width: 33%;
    padding: 8px;
  }
</style>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <img
        src="https://dl.dropbox.com/s/lui9x8qgxjbmqsj/akurasi.png?dl=0"
        width="100%"
      />
    </div>
    <div class="col-md-8">
      <h2 class="mt-5">Perhitungan Akurasi</h2>
      <br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col md-12">
      <div class="card border-info">
        <div class="card-header bg-info text-white md-12">
          <center>Computer Vision</center>
        </div>
        <div class="card-body">
          <h4 class="card-title">Hasil Perhitungan Akurasi</h4>
          <table class="table table-hover table-responsive scroll">
            <thead>
              <tr class="table-primary">
                <td scope="col" width="50%">Citra</td>
                <td scope="col" width="50%">Kelas Aktual</td>
                <td scope="col" width="50%">Prediksi</td>
              </tr>
            </thead>
            <tbody>
              {% set j=0 %} {% for i in braeburn %}
              <tr class="text-info">
                <td scope="row"><img src="{{i}}" alt="" /></td>
                <td>{{hasil[j]}}</td>
                <td>{{hasil2[j]}}</td>
              </tr>
              {% set j=j+1 %} {% endfor %} {% set j=30 %} {% for i in golden1 %}
              <tr class="text-info">
                <td scope="row"><img src="{{i}}" alt="" /></td>
                <td>{{hasil[j]}}</td>
                <td>{{hasil2[j]}}</td>
              </tr>
              {% set j=j+1 %} {% endfor %} {% set j=60 %} {% for i in granny %}
              <tr class="text-info">
                <td scope="row"><img src="{{i}}" alt="" /></td>
                <td>{{hasil[j]}}</td>
                <td>{{hasil2[j]}}</td>
              </tr>
              {% set j=j+1 %} {% endfor %} {% set j=90 %} {% for i in golden2 %}
              <tr class="text-info">
                <td scope="row"><img src="{{i}}" alt="" /></td>
                <td>{{hasil[j]}}</td>
                <td>{{hasil2[j]}}</td>
              </tr>
              {% set j=j+1 %} {% endfor %} {% set j=120 %} {% for i in golden3
              %}
              <tr class="text-info">
                <td scope="row"><img src="{{i}}" alt="" /></td>
                <td>{{hasil[j]}}</td>
                <td>{{hasil2[j]}}</td>
              </tr>
              {% set j=j+1 %} {% endfor %}
              <tr class="text-info">
                <td scope="row">Jumlah</td>
                <td>150</td>
                <td>150</td>
              </tr>
            </tbody>
          </table>

          <br />
          <p>Hasil Akurasi adalah <b> {{akurasi*100}}% </b></p>
          <div class="progress">
            <div
              class="progress-bar bg-info"
              role="progressbar"
              style="width: {{akurasi*100}}%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <br />
          <p>Hasil Error adalah <b> 0% </b></p>
          <div class="progress">
            <div
              class="progress-bar bg-success"
              role="progressbar"
              style="width: 0%;"
              aria-valuenow="25"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>

          <br />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col md-12"></div>
  </div>
</div>

{% include "bottom.html" %}
