{% include "nav.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <img
        src="https://dl.dropbox.com/s/vo76o39sjw10ruk/proses.png?dl=0"
        width="100%"
      />
    </div>
    <div class="col-md-8">
      <h2 class="mt-5">Data Latih</h2>
      <br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col md-12">
      <div class="card border-success">
        <div class="card-header bg-success text-white md-12">
          <center>Computer Vision</center>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#satu"
                >Braeburn</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#dua">
                Golden 1
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tiga">Golden 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#empat">Golden 3 </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#lima"
                >Granny Smith</a
              >
            </li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="satu">
              <div class="row p-5">
                <h5>Apple Braeburn</h5>
                <div class="mt-3">
                  {% for i in braeburn %}

                  <img src="{{i}}" alt="" />

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="dua">
              <div class="row p-5">
                <h5>Apple Golden 1</h5>
                <div class="mt-3">
                  {% for i in golden1 %}

                  <img src="{{i}}" alt="" />

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tiga">
              <div class="row p-5">
                <h5>Apple Golden 2</h5>
                <div class="mt-3">
                  {% for i in golden2 %}

                  <img src="{{i}}" alt="" />

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="empat">
              <div class="row p-5">
                <h5>Apple Golden 3</h5>
                <div class="mt-3">
                  {% for i in golden3 %}

                  <img src="{{i}}" alt="" />

                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="lima">
              <div class="row p-5">
                <h5>Apple Granny Smith</h5>
                <div class="mt-3">
                  {% for i in granny %}

                  <img src="{{i}}" alt="" />

                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "bottom.html" %}
