{% include "nav.html" %}

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-2">
        <img
          src="https://dl.dropbox.com/s/vo76o39sjw10ruk/proses.png?dl=0"
          width="100%"
        />
      </div>
      <div class="col-md-8">
        <h2 class="mt-5">Hasil Pengujian</h2>
        <br />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col md-12">
        <div class="card border-info">
          <div class="card-header bg-info text-white md-12">
            <center>Computer Vision</center>
          </div>
          <div class="card-body">
            <div class="row ml-5">
              <div class="col-md-4">
                <img
                  src="static/uploads/{{filename}}"
                  alt="{{filename}}"
                  width="72%"
                  style="text-align: center;"
                />
              </div>
              <div class="col-md-8">
                <h4>Jenis Apel :</h4>
                <h2>{{hasil}}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "bottom.html" %}
</body>
