{% include "nav.html" %}
<div class="container mt-5">
  <div class="row">
    <div class="col md-12">
      <div class="card border-success ">
        <div class="card-header bg-success text-white md-12"><center> Computer Vision</center> </div>
        <div class="card-body">
          <h4 class="card-title"> Klasifikasi Jenis Apel dengan Metode KNN </h4>
          <div class="row">
            <div class="col-md-4">  
              <img src="https://dl.dropbox.com/s/7ya8bbh4w3l576v/klasifikasi.png?dl=0" width="72%" style="text-align: center;">
            </div>
            <div class="col-md-8">
              <p> 
                Sistem ini memungkinkan untuk dapat mengklasifikasikan jenis apel yaitu apel Braeburn, Apel Golden , dan Apel Granny Smith. 
                <br> 
                Disusun Oleh : 
                <ul>
                  <li> 10116110 – Muhamad Ibnu Tri Yuono  </li>
                  <li>  10116148 – Dicky Hardiansyah  </li>
                  <li> 10116109 – Ryan Yusup Hendriawan </li>
                  <li>  10116132 – Rafli Rachmawandi  </li>
                  <li>  10116026 – Said Dinar Fadilah  </li>
                </ul>   
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>     
  </div>  
</div>

{% include "bottom.html" %}
