{% include "nav.html" %}

<script>
  function validateForm() {
    var x = document.forms["form"]["fimg"].value;
    if (x == "") {
      alert("Name must be filled out");
      return false;
    }
  }

  function validasiFile() {
    var inputFile = document.getElementById("file");
    var pathFile = inputFile.value;
    var ekstensiOk = /(\.jpg)$/i;
    if (!ekstensiOk.exec(pathFile)) {
      alert("Silakan upload file yang memiliki ekstensi .jpg");
      inputFile.value = "";
      return false;
    } else {
      //Pratinjau gambar
      if (inputFile.files && inputFile.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          document.getElementById("pratinjauGambar").innerHTML =
            '<img src="' + e.target.result + '" width="100" height="100"/>';
        };
        reader.readAsDataURL(inputFile.files[0]);
      }
    }
  }
</script>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <img
        src="https://dl.dropbox.com/s/vo76o39sjw10ruk/proses.png?dl=0"
        width="100%"
      />
    </div>
    <div class="col-md-8">
      <h2 class="mt-5">Pengujian</h2>
      <br />
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col md-12">
      <div class="card border-info">
        <div class="card-header bg-info text-white md-12">
          <center>Computer Vision</center>
        </div>
        <div class="card-body">
          <h4 class="card-title">Masukkan Data Uji Citra</h4>

          <div class="row p-3">
            <form
              name="form"
              action="/hasil"
              method="POST"
              enctype="multipart/form-data"
              onSubmit="return validateForm()"
            >
              <div class="form-group">
                <img id="img" width="100" height="100" alt=" " />
                <br />

                <input
                  type="file"
                  name="file"
                  id="file"
                  onchange="return validasiFile()"
                />

                <div
                  name="fimg"
                  id="pratinjauGambar"
                  width="100"
                  height="100"
                ></div>
                <br /><br /><br />
                <input type="submit" class="btn btn-info" value="Proses" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include "bottom.html" %}
