{% include "nav.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2">
      <img
        src="https://dl.dropbox.com/s/vo76o39sjw10ruk/proses.png?dl=0"
        width="100%"
      />
    </div>
    <div class="col-md-8">
      <h2 class="mt-5">Preprocesing</h2>
      <br />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col md-12">
      <div class="card border-success">
        <div class="card-header bg-success text-white md-12">
          <center>Computer Vision</center>
        </div>
        <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#home">RGB</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#latih">
                Grayscaling
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#uji">Histogram </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#hasil"
                >Data Latih
              </a>
            </li>
          </ul>

          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="home">
              <h5>Apple Braeburn</h5>
              <div class="row p-5">
                <div>
                  <img
                    src="static/dataset/train/Apple Braeburn/0_Apple Braeburn.jpg"
                    alt="0_Apple Braeburn.jpg"
                  />
                </div>
                <div id="table-scroll" class="table-scroll">
                  <table id="main-table" class="main-table">
                    <thead>
                      <tr>
                        <th scope="col">(i,j)</th>
                        {% for x in range(100) %}
                        <th scope="col">{{x+1}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for j in range(100) %}
                      <tr>
                        <th>{{j+1}}</th>
                        {% for i in range(100) %}
                        <td>
                          <b>R</b>:{{rgb[j][i][0]}}<br /><b>G</b
                          >:{{rgb[j][i][1]}}<br /><b>B</b>:{{rgb[j][i][2]}}
                        </td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <h5>Apple Golden 1</h5>
              <div class="row p-5">
                <div>
                  <img
                    src="static/dataset/train/Apple Golden 1/2_Apple Golden 1.jpg"
                    alt="2_Apple Golden 1.jpg"
                  />
                </div>
                <div id="table-scroll" class="table-scroll">
                  <table id="main-table" class="main-table">
                    <thead>
                      <tr>
                        <th scope="col">(i,j)</th>
                        {% for x in range(100) %}
                        <th scope="col">{{x+1}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for j in range(100) %}
                      <tr>
                        <th>{{j+1}}</th>
                        {% for i in range(100) %}
                        <td>
                          <b>R</b>:{{rgb2[j][i][0]}}<br /><b>G</b
                          >:{{rgb2[j][i][1]}}<br /><b>B</b>:{{rgb2[j][i][2]}}
                        </td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="latih">
              <h5>Apple Braeburn</h5>
              <div class="row p-5">
                <div>
                  <img src="/static/grayscale/0_100.jpg" alt="0_100.jpg" />
                </div>
                <div id="table-scroll" class="table-scroll">
                  <table id="main-table" class="main-table">
                    <thead>
                      <tr>
                        <th>(i,j)</th>
                        {% for x in range(100) %}
                        <th>{{x+1}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for j in range(100) %}
                      <tr>
                        <th>{{j+1}}</th>
                        {% for i in range(100) %}
                        <td>{{gray[j][i]}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <h5>Apple Golden 1</h5>
              <div class="row p-5">
                <div>
                  <img src="/static/grayscale/1_100.jpg" alt="1_100.jpg" />
                </div>
                <div id="table-scroll" class="table-scroll">
                  <table id="main-table" class="main-table">
                    <thead>
                      <tr>
                        <th>(i,j)</th>
                        {% for x in range(100) %}
                        <th>{{x+1}}</th>
                        {% endfor %}
                      </tr>
                    </thead>
                    <tbody>
                      {% for j in range(100) %}
                      <tr>
                        <th>{{j+1}}</th>
                        {% for i in range(100) %}
                        <td>{{gray2[j][i]}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="uji">
              <h5>Apple Braeburn</h5>
              <div class="row p-1">
                <div class="col-md-6">
                  <img
                    src="/static/histogram/0_100.jpg"
                    alt="0_100.jpg"
                    width="100%"
                  />
                </div>
                <div class="col-md-6">
                  <table class="table table-bordered mt-4">
                    <tr>
                      <th>Derajat keabuan(i)</th>
                      <th>n<sub>i</sub></th>
                      <th>h<sub>i</sub> = n<sub>i</sub>/n (n = 10000)</th>
                    </tr>
                    <tr>
                      <td>0-25</td>
                      <td>{{n[0]}}</td>
                      <td>{{histogram[0]}}</td>
                    </tr>
                    <tr>
                      <td>26-51</td>
                      <td>{{n[1]}}</td>
                      <td>{{histogram[1]}}</td>
                    </tr>
                    <tr>
                      <td>52-77</td>
                      <td>{{n[2]}}</td>
                      <td>{{histogram[2]}}</td>
                    </tr>
                    <tr>
                      <td>78-103</td>
                      <td>{{n[3]}}</td>
                      <td>{{histogram[3]}}</td>
                    </tr>
                    <tr>
                      <td>104-129</td>
                      <td>{{n[4]}}</td>
                      <td>{{histogram[4]}}</td>
                    </tr>
                    <tr>
                      <td>130-155</td>
                      <td>{{n[5]}}</td>
                      <td>{{histogram[5]}}</td>
                    </tr>
                    <tr>
                      <td>156-181</td>
                      <td>{{n[6]}}</td>
                      <td>{{histogram[6]}}</td>
                    </tr>
                    <tr>
                      <td>182-207</td>
                      <td>{{n[7]}}</td>
                      <td>{{histogram[7]}}</td>
                    </tr>
                    <tr>
                      <td>208-233</td>
                      <td>{{n[8]}}</td>
                      <td>{{histogram[8]}}</td>
                    </tr>
                    <tr>
                      <td>234-255</td>
                      <td>{{n[9]}}</td>
                      <td>{{histogram[9]}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <h5>Apple Golden 1</h5>
              <div class="row p-1">
                <div class="col-md-6">
                  <img
                    src="/static/histogram/1_100.jpg"
                    alt="1_100.jpg"
                    width="100%"
                  />
                </div>
                <div class="col-md-6">
                  <table class="table table-bordered mt-4">
                    <tr>
                      <th>Derajat keabuan(i)</th>
                      <th>n<sub>i</sub></th>
                      <th>h<sub>i</sub> = n<sub>i</sub>/n (n = 10000)</th>
                    </tr>
                    <tr>
                      <td>0-25</td>
                      <td>{{n2[0]}}</td>
                      <td>{{histogram2[0]}}</td>
                    </tr>
                    <tr>
                      <td>26-51</td>
                      <td>{{n2[1]}}</td>
                      <td>{{histogram2[1]}}</td>
                    </tr>
                    <tr>
                      <td>52-77</td>
                      <td>{{n2[2]}}</td>
                      <td>{{histogram2[2]}}</td>
                    </tr>
                    <tr>
                      <td>78-103</td>
                      <td>{{n2[3]}}</td>
                      <td>{{histogram2[3]}}</td>
                    </tr>
                    <tr>
                      <td>104-129</td>
                      <td>{{n2[4]}}</td>
                      <td>{{histogram2[4]}}</td>
                    </tr>
                    <tr>
                      <td>130-155</td>
                      <td>{{n2[5]}}</td>
                      <td>{{histogram2[5]}}</td>
                    </tr>
                    <tr>
                      <td>156-181</td>
                      <td>{{n2[6]}}</td>
                      <td>{{histogram2[6]}}</td>
                    </tr>
                    <tr>
                      <td>182-207</td>
                      <td>{{n2[7]}}</td>
                      <td>{{histogram2[7]}}</td>
                    </tr>
                    <tr>
                      <td>208-233</td>
                      <td>{{n2[8]}}</td>
                      <td>{{histogram2[8]}}</td>
                    </tr>
                    <tr>
                      <td>234-255</td>
                      <td>{{n2[9]}}</td>
                      <td>{{histogram2[9]}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="hasil">
              <div
                class="row p-1 d-flex align-items-center justify-content-center"
              >
                <div class="">
                  <table class="table table-bordered mt-4">
                    <tr>
                      <th>i</th>
                      <th>h<sub>1</sub></th>
                      <th>h<sub>2</sub></th>
                      <th>h<sub>3</sub></th>
                      <th>h<sub>4</sub></th>
                      <th>h<sub>5</sub></th>
                      <th>h<sub>6</sub></th>
                      <th>h<sub>7</sub></th>
                      <th>h<sub>8</sub></th>
                      <th>h<sub>9</sub></th>
                      <th>h<sub>10</sub></th>
                      <th>Kelas</th>
                    </tr>
                    {% for i in range(10) %}
                    <tr>
                      <td>{{i+1}}</td>
                      <td>{{imgtrain[i][0]}}</td>
                      <td>{{imgtrain[i][1]}}</td>
                      <td>{{imgtrain[i][2]}}</td>
                      <td>{{imgtrain[i][3]}}</td>
                      <td>{{imgtrain[i][4]}}</td>
                      <td>{{imgtrain[i][5]}}</td>
                      <td>{{imgtrain[i][6]}}</td>
                      <td>{{imgtrain[i][7]}}</td>
                      <td>{{imgtrain[i][8]}}</td>
                      <td>{{imgtrain[i][9]}}</td>
                      <td>Apple Braeburn</td>
                    </tr>
                    {% endfor %} {% for i in range(10) %}
                    <tr>
                      <td>{{i+11}}</td>
                      <td>{{imgtrain2[i][0]}}</td>
                      <td>{{imgtrain2[i][1]}}</td>
                      <td>{{imgtrain2[i][2]}}</td>
                      <td>{{imgtrain2[i][3]}}</td>
                      <td>{{imgtrain2[i][4]}}</td>
                      <td>{{imgtrain2[i][5]}}</td>
                      <td>{{imgtrain2[i][6]}}</td>
                      <td>{{imgtrain2[i][7]}}</td>
                      <td>{{imgtrain2[i][8]}}</td>
                      <td>{{imgtrain2[i][9]}}</td>
                      <td>Apple Golden 1</td>
                    </tr>
                    {% endfor %} {% for i in range(10) %}
                    <tr>
                      <td>{{i+21}}</td>
                      <td>{{imgtrain3[i][0]}}</td>
                      <td>{{imgtrain3[i][1]}}</td>
                      <td>{{imgtrain3[i][2]}}</td>
                      <td>{{imgtrain3[i][3]}}</td>
                      <td>{{imgtrain3[i][4]}}</td>
                      <td>{{imgtrain3[i][5]}}</td>
                      <td>{{imgtrain3[i][6]}}</td>
                      <td>{{imgtrain3[i][7]}}</td>
                      <td>{{imgtrain3[i][8]}}</td>
                      <td>{{imgtrain3[i][9]}}</td>
                      <td>Apple Granny Smith</td>
                    </tr>
                    {% endfor %} {% for i in range(10) %}
                    <tr>
                      <td>{{i+31}}</td>
                      <td>{{imgtrain4[i][0]}}</td>
                      <td>{{imgtrain4[i][1]}}</td>
                      <td>{{imgtrain4[i][2]}}</td>
                      <td>{{imgtrain4[i][3]}}</td>
                      <td>{{imgtrain4[i][4]}}</td>
                      <td>{{imgtrain4[i][5]}}</td>
                      <td>{{imgtrain4[i][6]}}</td>
                      <td>{{imgtrain4[i][7]}}</td>
                      <td>{{imgtrain4[i][8]}}</td>
                      <td>{{imgtrain4[i][9]}}</td>
                      <td>Apple Golden 2</td>
                    </tr>
                    {% endfor %} {% for i in range(10) %}
                    <tr>
                      <td>{{i+41}}</td>
                      <td>{{imgtrain[i][0]}}</td>
                      <td>{{imgtrain[i][1]}}</td>
                      <td>{{imgtrain[i][2]}}</td>
                      <td>{{imgtrain[i][3]}}</td>
                      <td>{{imgtrain[i][4]}}</td>
                      <td>{{imgtrain[i][5]}}</td>
                      <td>{{imgtrain[i][6]}}</td>
                      <td>{{imgtrain[i][7]}}</td>
                      <td>{{imgtrain[i][8]}}</td>
                      <td>{{imgtrain[i][9]}}</td>
                      <td>Apple Golden 3</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "bottom.html" %}
